.addr-flag{
    width:60px;
    text-align: center;
}
.addr-flag .addr-flag-icon{
    font-size: 32px;
}
.addr-flag-text{
    font-size: 13px;
    word-break: break-word;
    width:60px;
    text-align: center;
    background: #fff;
    color:#333;
    border-radius: 3px;
    border:1px solid red;
}
.amap-flag{
    font-size: 13px;
    /*width:500px;*/
    margin:0;
    padding:0;
    position: absolute;
    bottom:5px;
}
.amap-flag li{
    float: left;
    list-style: none;
    margin-right:10px;
    color:#333;
}